.container {
  text-align: center;
  width: 46%;
  margin: 0% auto;
  background: #15573F;
  border: 1px solid #15573F;
  padding: 4%;
  border-radius: 25px;
  margin-bottom: 3%;
}

.container__button {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /* padding: 12% 38%; */
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    margin: 0% auto;
    padding: 8% 0;
    border-radius: 40px;
  }

  .container__button {
    padding: 0;
    width: 15%;
  }
}
