.container {
  height: 100%;
  background-color: white;
}

.container__data {
  text-align: center;
}

.picked__container {
  margin: 4% 7%;
  width: 77.5%;
  text-align: justify;
}

.picked__title {
  color: #15573f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.picked__price {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  color: grey;
  font-weight: 500;
  opacity: 0.5;
}

.picked__img {
  text-align: center;
}

.imgteste {
  width: 20rem;
}

.itens_container {
  margin: 4% 7%;
  display: flex;
  align-items: center;
}

.itens_container > img {
  width: 8%;
  margin-right: 5%;
}

.itens_container > a {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-weight: 400;
}

.email__container {
  margin-top: 10%;
  background-color: #f6f6f6;
  padding: 4% 7%;
}

.email__container > div {
  margin: 0 !important;
}

.email__sub {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: grey;
  width: 100%;
  margin: 8% 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

form > label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: grey;
  font-weight: bold;
  margin-bottom: 1%;
}

form > input {
  width: 90%;
  border-radius: 25px;
  border: none;
  padding: 4%;
  font-size: 15px;
  color: grey;
  opacity: 0.5;
  font-weight: bold;
}

.container__button {
  padding: 4% 14%;
  background: #15573f;
  border-radius: 25px;
  width: 80%;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 20px;
  margin: 7% auto 2% auto;
}

.send__container {
  text-align: center;
}

@media (min-width: 768px) {
  .container__button {
    padding: 3% 14%;
    border-radius: 35px;
    width: 60%;
    font-size: 20px;
  }

  .container__data {
    width: 80%;
    margin: 0 5%;
  }
}

@media (min-width: 1024px) {
  form {
    margin-top: 5%;
  }

  form > label {
    font-size: 23px;
    margin-bottom: 2%;
    margin-top: 3%;
  }

  form > input {
    border-radius: 51px;
    font-size: 19px;
  }

  .email__sub {
    margin: 6% 0 3% 0;
    font-size: 21px;
  }
}

@media (min-width: 1025px) {
  .container {
    display: flex;
  }

  .temporary {
    display: none;
  }

  .container__data {
    margin: 20% 10% 20% 0;
    width: 65%;
    text-align: initial;
  }

  .container__conteudo {
    display: flex;
    margin: 0 auto;
    width: 60%;
  }

  .email__container {
    margin: 20% 0 20% 0;
    /* padding: 3% 4% 6% 4%; */
    /* width: 30%; */
  }

  .picked__container {
    width: 90%;
  }

  .email__sub {
    margin: 6% 0 13% 0;
    font-size: 18px;
  }

  form > label {
    font-size: 16px;
    margin-bottom: 2%;
    margin-top: 3%;
  }
  
  form > input {
    font-size: 17px;
    width: 100%;
    margin-bottom: 5%;
  }

  .imgteste {
    width: 17rem;
  }

  .container__button {
    align-self: flex-end;
    margin: 8% 0 0 0 ;
    border: 1px solid #15573f;
    color: #15573f;
    background: white;
    padding: 5.5% 10%;
    width: 52%;
  }
}
