.card__container {
  /* margin: 0 auto; */
  /* width: fit-content; */
  /* background: white; */
}

.card__details {
  /* margin: 0 10%; */
}

.card__details > p {
  color: #15573f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 19px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin: 6% 0 0 0;
}

.card__price > p {
  color: #6e6e6e;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  flex-grow: 1;
}

.card__imgcontainer {
  display: flex;
}

.card__price > img {
  width: 15%;
  height: 15%;
  padding: 0 2%;
  flex-grow: 0;
}

/* .card__status { */
/* width: 100%; */
/* width: fit-content; */
/* display: flex; */
/* } */

.container {
  text-align: center;
  width: 100%;
  margin: 0% auto;
  background: #15573f;
  border: 1px solid #15573f;
  padding: 6%;
  border-radius: 25px;
  margin: 5% 0;
}

.container__button {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.categoriesContainer {
  /* position: absolute; */
  margin: 10% 0% 0 4%;
  overflow-x: scroll;
  white-space: nowrap;
  /* width: 95%; */
  height: 54%;
  overflow-x: auto;
}

/* .categoriesContainer2 {
  position: absolute;
  margin: 20% 0% 0 4%;
  overflow-x: scroll; comentar
  white-space: nowrap;
  overflow-x: auto;
} */

.categoriesContainer > div {
  width: 100%;
  text-align: center;
}

.categoriesContainer_categorie {
  margin-right: 5%;
  display: inline-block;
  background: white;
  padding: 0 10%;
  /* width: 50%; */
}

/* .card__container > img {
  width: 13rem;
} */

/* .categoriesContainer_categorie2 {
  margin-right: 2%;
  margin-bottom: 4%;
  display: inline-block;
  width: 100%;
} */

@media (min-width: 1024px) {
  .categoriesContainer {
    all: initial;
    max-width: 1200px;
    margin: 0 auto 1% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 1rem;
  }

  .categoriesContainer_categorie {
    width: 82%;
  }

  .categoriesContainer > div {
  }

  .container {
    background: white;
    color: #15573f;
    font-weight: 500;
    font-weight: bold;
  }

  .container:hover {
    background: #15573f;
    color: white;
  }
}
