.title__container {
  margin: 0 auto;
  width: 63.5%;
  text-align: center;
}

.title__container > h2 {
  color: #6e6e6e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .title__container {
    width: 52.5%;
  }

  .title__container > h2 {
    font-size: 2rem;
  }
}