.container {
  height: 100%;
  background-color: #f6f6f6;
}

.container__section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container__section > img {
  /* width: 100%; */
  /* height: auto; */
  /* max-width: 720px; */
  /* width: min(10rem, 100rem); */
  width: min(80vw, 850px);

}

.container__ {
  margin: 4% 0;
  text-align: center;
  width: 100%;
}

.container__button {
  /* padding: 5% 15%;
  background: #15573F;
  border-radius: 25px; */
  padding: 4% 15%;
  background: #15573F;
  border-radius: 40px;
  color: white;
  text-decoration: none; 
}

.container__ > h1 {
  font-family: 'Montserrat', sans-serif;
  color: #15573F;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20%;
}

.container__picture {
  width: 100%;
}

.container__picture > img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container__ {
    width: 50%;
  }

  .container__section > img {
    width: min(55vw, 850px);
  }
}

@media (min-width: 1024px) {
  .container__section {
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
  }

  .container__ {
    width: 40%;
    text-align: left;
  }

}

@media (min-width: 1440px) {
  .container__section > img {
    width: min(43vw, 850px);
  }

  .container__ {
    width: 39%;
  }

  .container__ > h1 {
    font-size: 5rem;
  }
}