.button__container {
  margin: 7% auto;
  width: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 5%;
  border-radius: 3px;
}

.button__container > a {
  padding: 12% 15%;
  color: #6e6e6e;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}

.button__container > img {
  width: 20%;
}

.selected {
  background: #FD9872 ;
}

.selected > a {
  color: white;
}

.selected > img {
  filter: brightness(0) invert(1);
}