.button__container {
  margin: 7% auto;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 6% 4% 6% 4%;
}

.button__container > a {
  color: #6e6e6e;
  font-family: "Montserrat", sans-serif;
  font-size: min(21px, 4vw);
}

.button__container > img {
  width: 14%;
  margin-right: 8%;
}

.selected {
  background: #fd9872;
}

.selected > a {
  color: white;
}

.selected > img {
  filter: brightness(0) invert(1);
}

@media (min-width: 1024px) {
  .button__container {
    margin: 7% 5%;
    width: 25%;
    display: flex;
    align-items: center;
    padding: 3% 0%;
    flex-direction: column;
  }

  .button__container > a {
    padding: 12% 10%;
  }

  
.button__container > img {
  width: 18%;
}
}
